.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media (min-width: $detskop-size) {
    flex-wrap: nowrap;
  }

  .clients__link {
    color: var(--brand-color-icon);
    border: 1px solid currentColor;
    border-radius: 4px;
    min-width: 210px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition-color;

    @media (min-width: $tablet-size) {
      min-width: 226px;
    }
    @media (min-width: $detskop-size) {
      max-width: 170px;
    }
  }

  .clients__icon {
    fill: currentColor;
  }
  .clients__link:hover,
  .clients__link:focus {
    color: var(--brand-color-blue);
    border-color: var(--brand-color-blue);
    outline: transparent;
  }
}
