.footer {
  background-color: var(--brand-color-background-black);
 padding: 60px 0;
}

.container__footer {
  display: flex;
  align-items: baseline;
}

.footer__address {
  margin-right: 70px;
}
//  -----logo.scss--------
//  ----addres.scss--------
// --------newsletter---------

.footter__social-media-toppper {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--brand-color-white);
}
//  ----newsletter.scss--------
