.list-contact {
  display: flex;
  margin-left: auto;
  flex-direction: column;

  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: $detskop-size) {
    flex-direction: row;
  }
  &__item-contact:first-child {
    margin-bottom: 10px;
  }
  @media (min-width: $detskop-size) {
    &__item-contact:not(:last-child) {
      margin-right: 50px;
      flex-direction: row;
    }
  }
}

.contact {
  color: var(--brand-color-grey);
  text-decoration: none;
  text-align: left;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition: $transition-color;

  &:hover,
  &:focus {
    color: var(--brand-color-blue);
    outline: transparent;
  }
  .contact__icon-contact {
    fill: currentColor;
    vertical-align: middle;
    margin-right: 10px;
  }
}
