.backdrop {
  background-color: #00000033;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: $transition;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--brand-color-white);
  box-shadow: 0px 2px 1px 0px;
  box-shadow: 0px 1px 1px 0px;
  box-shadow: 0px 1px 3px 0px;
  border-radius: 4px;
  padding: 40px;

  @media screen and (max-width: 1199px) {
    width: 95%;
    max-width: 450px;
    height: 95%;
    max-height: 609px;
    overflow: scroll;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}
/* .modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--brand-color-white);
  border-radius: 50%;
  border: 1px solid #0000001a;
  color: var(--brand-color-black);
  font-size: 20px;
} */

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: $transition;
}

.modal-form {
  display: flex;
  flex-direction: column;

  .modal-form__tittle {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--brand-color-black);
    margin-bottom: 2px;
  }

  .modal-form__label {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--brand-color-dark-grey);
    margin-top: 10px;
    transition: $transition;
  }

  .modal-form__label:hover,
  .modal-form__:focus {
    fill: var(--brand-color-blue);
  }

  .modal-form__input {
    padding: 8px;
    font-family: inherit;
    margin-top: 4px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    color: var(--brand-color-grey);
    outline: transparent;
    transition: $transition;
  }

  .modal-form__input:focus,
  .modal-form__input:hover {
    border-color: var(--brand-color-blue);
    outline: transparent;
  }

  .modal-form__svg {
    position: absolute;
    top: 40px;
    left: 16px;
    transform: translateY(-50%);
  }
  .modal-form__svg:focus,
  .modal-form__svg:hover {
    fill: var(--brand-color-blue);
  }

  .modal-form__textarea {
    height: 120px;
    resize: none;
    font-family: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: transparent;
    border-radius: 4px;
    color: var(--brand-color-grey);
    transition: $transition;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 12px 16px;
  }

  .modal-form__textarea:focus,
  .modal-form__textarea:hover {
    border-color: var(--brand-color-blue);
  }

  .acceptation {
    margin: 0 auto;
    position: relative;
    display: inline-flex;

    /* .main-button--submit {
  margin-top: 30px;
} */

    .acceptation__rules {
      color: var(--brand-color-blue);
      text-decoration: underline;
    }

    .acceptation__checkbox-oryginal {
      opacity: 0;
      margin-right: 9px;
    }

    .acceptation__checkbox-svg {
      position: absolute;
      left: 0px;
      transition: $transition-color;
      fill: var(--brand-color-white);
      border: 1px solid var(--brand-color-black);
      border-radius: 2px;
    }

    .acceptation__checkbox-oryginal:checked + .acceptation__checkbox-svg {
      background-color: var(--brand-color-blue);
      border-color: var(--brand-color-blue);
    }
  }
}
@media (max-width: $tablet-size) {
  .acceptation__text {
    font-size: 12px;
    line-height: 1.16em;
    letter-spacing: 0.03em;
  }
}
@media (min-width: $detskop-size) {
  .acceptation__text {
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    vertical-align: text-top;
  }
}
