.newsletter {
  margin-left: auto;

  .newsletter__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--brand-color-white);
  }

  .newsletter__part {
    margin-top: 20px;
    display: flex;
    position: relative;
    flex-direction: column;

    .newsletter__input {
      padding-left: 16px;
      width: 22.3remx;
      height: 50px;
      color: var(--brand-color-newsletter-input);
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      margin-right: 12px;
      background-color: transparent;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      outline: transparent;
    }
  }
}
//  ----button.scss--------
