.page-header {
  border-bottom: 1px solid #ececec;

  &__box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
// -------logo.scss-----------
// ------navigation.scss------
// ------list-contact.scss-----
