.page-header {
  border-bottom: 1px solid #ececec;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
// -------logo.scss-----------
// ------navigation.scss------
// ------list-contact.scss-----
