.page-header {
  border-bottom: 1px solid #ececec;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-size) {
    justify-content: flex-start;
  }

  &__box {
    display: flex;
  }

}

@media (max-width: 767px) {
  .page-header__menu {
    display: none;
  }
}

// -------logo.scss-----------
// ------navigation.scss------
// ------list-contact.scss-----
