.technologies {
  &__list {
    flex-direction: column;
    gap: 30px;
  }

  @media (min-width: $tablet-size) {
    .technologies__list {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: red;
      flex-direction: row;
      
    }
  }


  @media (min-width: $tablet-size) {
    .abc {
      flex-basis: calc((100% - 2rem) / 2);
    }
  }
  
  @media (min-width: $detskop-size) {
    .technologies__list {
      background-color: rgb(170, 58, 235);
    
  }}
   @media (min-width: $detskop-size) {
    .abc {
      flex-basis: calc((100% - 2rem) / 4);
      flex-wrap: nowrap;
    }
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .technology {
    background-color: var(--brand-color-light-grey);
    height: 8rem;
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    fill: var(--brand-color-dark-grey);

    &__tittle {
      font-weight: 700;
      line-height: 1.14;
      text-transform: uppercase;
      font-style: bold;
      margin-bottom: 0.66rem;
      font-size: 14px;
      text-align: center;
    }

    &__description {
      text-align: left;
      color: var(--brand-color-grey);
      line-height: 1.71;
    }
  }
}
