.technologies {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }

  .technology__item {
    @media (min-width: $tablet-size) {
      flex-basis: calc((100% - 2rem) / 2);
    }

    @media (min-width: $detskop-size) {
      flex-basis: calc((100% - 2rem) / 4);
      max-width: 270px;
    }
  }
}

.technology {
  background-color: var(--brand-color-light-grey);
  height: 8rem;
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  fill: var(--brand-color-dark-grey);

  &__tittle {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    font-style: bold;
    margin-bottom: 0.66rem;
    font-size: 14px;
    text-align: center;

    @media (min-width: $tablet-size) {
      text-align: left;
    }
  }

  &__description {
    text-align: left;
    color: var(--brand-color-grey);
    line-height: 1.71;
  }
}
