.work {
  padding-top: 0;
  // @media (max-width: $tablet-size) {
  //   display: none;
  // }

  .work__list {
    display: flex;
    gap: 30px;
    flex-direction: row;

    .image-overlay {
      position: relative;

      &__text {
        text-transform: uppercase;
        color: var(--brand-color-white);
        font-weight: 700;
        font-size: 14px;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;
        background-color: var(--brand-color-overlay);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
