:root {
  --brand-color-dark-grey: #212121;
  --brand-color-white: #ffffff;
  --brand-color-grey: #757575;
  --brand-color-blue: #2196f3;
  --brand-color-black: #000000;
  --brand-color-background-black: #2f303a;
  --brand-color-light-grey: #f5f4fa;
  --brand-color-bg-hero: #2f303a66;
  --brand-color-bg-footer-icon: #ffffff1a;
  --brand-color-icon: #afb1b8;
  --brand-color-overlay: #2f303acc;
  --brand-color-cards-overlay: #2196f3e5;
  --brand-color-cards-services: #eeeeee;
  --brand-color-newsletter-input: #ffffff99;
}
