.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: $mobile-size;


  @media screen and (min-width: $mobile-size) {
    min-width:  $mobile-size;
  }

  @media screen and (min-width: $tablet-size) {
    width:  $tablet-size;
    max-width: $detskop-size;
    
  }

  @media screen and (min-width: $detskop-size) {
    width: $detskop-size;
  }
}
