// // font-size
// $font-size-small: 0.75rem;
// $font-size-standard: 0.875rem;
// $font-size-medium: 1rem;
// $font-size-medium-large: 1.125rem;
// $font-size-large: 1.25rem;
// $font-size-logo: 1.625rem;
// $font-size-section-header: 2.25rem;
// $font-size-main-header: 2.75rem;

// transition
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-bgd: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

$mobile-size: 480px;
$tablet-size: 768px;
$detskop-size: 1200px;